{% load static %}

<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forecast - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<!-- your single-location forecast with alert interface here -->
  
  <style>
     
div.scrollmenu {
  background-color: #FDD25A;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
</style>
  
  
  
</head>
<body>
	<!-- your single-location forecast interface here -->
  
  
  
  
<div class="jumbotron text-center" style="margin-bottom:30; background:#FDC731; color:white; border-radius:50px">
  <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif">JULY 1</p>
   <div class="container" style="margin-top:30px; background:#F44924;border-radius:25px; padding:0px">
     
          <p style="font-size:24px;font-family:Verdana, Geneva, sans-serif; padding:10px">
            <b>ALERT!</b>
          </p>
     <p style="font-size:14px; padding:10px">  
       Brief description of alert... Tap for more information
     </p>
      
  </div>
  
  <img src="https://cdn3.iconfinder.com/data/icons/famous-city-skyline/48/Sed-37-512.png" width="250px"/>
  <h2 style="font-size:24px;font-family:Verdana, Geneva, sans-serif">BERKELEY, CA</h2>
  <h1 style="font-size:125px;font-family:Verdana, Geneva, sans-serif">70</h1>
  
  
  <div class="container" style="margin-top:30px; color:white">
  <div class="row">
    <div class="col-sm-12">
      <h2>
          
       <div class="scrollmenu">
  <a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">12PM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
<a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">1PM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
         <a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">2PM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
         <a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">3PM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
         <a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">4PM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
         <a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">5PM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
         <a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">6PM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
         <a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">7PM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
         <a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">8PM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
         <a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">9PM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
         <a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">10PM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
         <a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">11PM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
         <a style="font-size:14px;font-family:Verdana, Geneva, sans-serif">12AM
    <p>
    <img src="https://www.pinclipart.com/picdir/big/78-782996_hk-cloudy-comments-sun-icon-free-png-transparent.png" width="25px"/>
    </p><p>
           70
    </p></a>
</div>
     <p>
       
        </p>
        
        
     
   
  <div class="row">
    <div class="col-6" style="font-size:14px;font-family:Verdana, Geneva, sans-serif" align=left>
     10 DAY FORECAST
    </div>
    <div class="col-3" style="font-size:14px;font-family:Verdana, Geneva, sans-serif" align=right>
     LOW
    </div>
    <div class="col-3" style="font-size:14px;font-family:Verdana, Geneva, sans-serif" align=right>
      HIGH
    </div>
  </div>
          <p>
            
            
        </p>
<div class="row">
      <div class="col-6">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:#FDE8AA" align=left>
          00/00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:#FDE8AA" align=right>
          00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:#FDE8AA" align=right> 
          00
        </p>
      </div>
 </div>
 <div class="row">
      <div class="col-6">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=left>
          00/00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right>
          00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right> 
          00
        </p>
      </div>
 </div>
 <div class="row">
      <div class="col-6">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=left>
          00/00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right>
          00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right> 
          00
        </p>
      </div>
 </div>
        <div class="row">
      <div class="col-6">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=left>
          00/00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right>
          00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right> 
          00
        </p>
      </div>
 </div>
        <div class="row">
      <div class="col-6">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=left>
          00/00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right>
          00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right> 
          00
        </p>
      </div>
 </div>
        <div class="row">
      <div class="col-6">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=left>
          00/00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right>
          00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right> 
          00
        </p>
      </div>
 </div>
        <div class="row">
      <div class="col-6">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=left>
          00/00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right>
          00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right> 
          00
        </p>
      </div>
 </div>
        <div class="row">
      <div class="col-6">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=left>
          00/00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right>
          00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right> 
          00
        </p>
      </div>
 </div>
        <div class="row">
      <div class="col-6">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=left>
          00/00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right>
          00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right> 
          00
        </p>
      </div>
 </div>
        <div class="row">
      <div class="col-6">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=left>
          00/00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right>
          00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right> 
          00
        </p>
      </div>
 </div>
        <div class="row">
      <div class="col-6">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=left>
          00/00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right>
          00
        </p>
      </div>
      <div class="col-3">
        <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif;color:white" align=right> 
          00
        </p>
      </div>
 </div>
 

        <p>    
        </p>
        <div class="container" style="margin-top:30px; background:#FDD25A;border-radius:25px; padding:15px">
        <div class="row">
         <div class="col-sm-12">
           <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif" align=left> 
          WINDS (MPH)
        </p>
          </div>
        </div>
        <div class="row">
         <div class="col-sm-4">
           <p style="font-size:100px;font-family:Verdana, Geneva, sans-serif" align=left> 
          00
        </p>
          </div>
           <div class="col-sm-8">
           <p style="font-size:14px;font-family:Verdana, Geneva, sans-serif" align=left> 
          Informative text about wind, where it's coming from, speed, etc... 
        </p>
          </div>
        </div>
        </div>
        
        
        <div class="row">
          <div class="col-sm-6">
             <div class="container" style="margin-top:30px; background:#FDD25A;border-radius:25px; padding:15px">
             <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif" align=left> 
          HUMIDITY (%)
        </p>
               <p style="font-size:100px;font-family:Verdana, Geneva, sans-serif" align=left> 
         00.0
        </p>
               <p style="font-size:14px;font-family:Verdana, Geneva, sans-serif" align=left> 
          Informative text... 
        </p>
            </div>
          </div>
          
          
          
          <div class="col-sm-6">
             <div class="container" style="margin-top:30px; background:#FDD25A;border-radius:25px; padding:15px">
             <p style="font-size:18px;font-family:Verdana, Geneva, sans-serif" align=left> 
          AQI (Air Quality Index)
        </p>
               <p style="font-size:100px;font-family:Verdana, Geneva, sans-serif" align=left> 
         00
        </p>
               <p style="font-size:14px;font-family:Verdana, Geneva, sans-serif" align=left> 
          Informative text... 
        </p>
            </div>
          </div>
        </div>
     
        
      </h2>
    </div>
  </div>  
</div>  
  
  
  
</div>
</body>
	




